#chess-board {
    border: 1px solid black;
    width: 640px;
    margin: 0 auto;
}

#timer,
#move {
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
}
.row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
}

.figure {
    font-size: 4em;
    cursor: pointer;
    position: relative;
}

.idle-animation {
    animation-name: idle-figure-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes idle-figure-animation {
    0%   {top: 10%; bottom: 0%;}
    25%  {top: 0%; bottom: 10%;}
    50%  {top: 10%; bottom: 0%;}
    100% {top: 0%; bottom: 10%;}
}